@import "tailwindcss";

/* Inline code */
.milkdown :not(pre) > code {
  background: hwb(0 99% 1%) !important; /* light gray */
  color: #e91d1d !important;      /* modern red */
  padding: 0.15rem 0.4rem;
  border-radius: 6px;
  font-size: 0.9em;
  font-weight: 600;
}





/* Entire code block */
.milkdown .cm-editor {
  background: #eef6ff !important;
  border: 1px solid #c7dcff !important;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(59, 130, 246, 0.08);
}

/* Code area */
.milkdown .cm-scroller,
.milkdown .cm-content {
  background: #eef6ff !important;
}

/* Line number gutter */
.milkdown .cm-gutters {
  background: #dbeafe !important;
  border-right: 1px solid #c7dcff !important;
  color: #8fa0b8 !important;
}

